  </main>
  <footer class="footer">
    <p>⚡ Speceify &mdash; Lightweight Node.js Deployment &nbsp;&bull;&nbsp; <a href="#">Docs</a></p>
  </footer>
  <script src="/js/app.js"></script>
</body>
</html>
